.footer {
    @include flex-box(column, null, center);
    width: 100%;
    height: 209px;
    background-color: black;
    color: white;

    &__logo {
        width: 122px;
        height: 39.44px;
        margin-top: 66px;
        @media (max-width: $breakpoint-header-footer) {
            margin-top: 62px;
        }
    }
    
    &__text {
        @include flex-box(column, end, center);
        margin-bottom: 29px;
        width: 513px; 
        height: 46px;
        font-size: 24px;
        @media (max-width: $breakpoint-header-footer) {
            font-size: 12px;
            margin-bottom: 62px;
        }
    }
}