.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    padding: 56px 50px;
    background-color: $background-color;
    border-radius: 25px;

    @media screen and (min-width: $breakpoint-medium-tablet) and (max-width: $breakpoint-medium-desktop) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $breakpoint-medium-tablet) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding: 20px 21px;
        border-radius: 10px;
    }
}