.about {
    @include flex-box(column, flex-start, center);
        
    &__collapses {
        width: 100%;
        height: auto;

        &__collapse {
            padding-top: 30px;
            @media screen and (max-width: $breakpoint-medium-tablet) {
                padding-top: 20px;
            }
        }
    }
}