.accommodation {
    @include flex-box (column, flex-start, center);
    max-width: 1240px;
    width: 100%;
}

.fiche {
    @include flex-box (column, flex-start, center);
    width: 100%;
    margin-top: 24px;

    &__section {
        width: 100%;
        max-width: 1240px;
        @include flex-box (row, space-between, none);

        &__top {
            width: 100%;
            max-width: 1240px;
            @include flex-box (row, space-between, none);
            @media screen and (max-width: $breakpoint-medium-tablet) {
                @include flex-box (column, flex-start, flex-start);
            }
        }
        
        &__bottom {
            width: 100%;
            max-width: 1240px;
            @include flex-box (row, space-between, flex-start);
            margin-top: 20px;
            @media screen and (max-width: $breakpoint-medium-tablet) {
                @include flex-box (column, flex-start, center);

            }

            &__collapse {
                @include flex-box (row, space-between, center);
                max-width: 1240px;
                width: 47%;
                @media screen and (max-width: $breakpoint-medium-tablet) {
                    @include flex-box (column, flex-start, center);
                    width: 100%;
                }
                    
                &__description {
                    @media screen and (max-width: $breakpoint-medium-tablet) {                    
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.titlesAndTags {
    @include flex-box (column, space-between, flex-start);

    &__titles {
        margin-bottom: 10px;

        h1 {
            @include text ($primary-color, 36px, 500, 143%);
            @media screen and (max-width: $breakpoint-medium-tablet) {
                font-size: 18px;
            }
        }
        
        h2 {
            @include text ($primary-color, 18px, 500, 143%);
            @media screen and (max-width: $breakpoint-medium-tablet) {
                font-size: 14px;
            }
        }
    }

    &__tags {
        @include flex-box (row, flex-start, center);
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;

        &__button {
            @include flex-box (column, center, center);
            background-color: $primary-color;
            color: white;
            @include text (white, 14px, 500, 143%);    
            white-space: nowrap;
            border-radius: $border-radius-medium;
            height: 25px;
            padding: 2px 15px;
            @media screen and (max-width: $breakpoint-medium-tablet) {
                border-radius: $border-radius-small;
                height: 18px;
                font-size: 10px;
            }
        }
    }
}
               
.HostAndRating {
    @include flex-box (column, space-between, flex-end);
    @media screen and (max-width: $breakpoint-medium-tablet) {
        @include flex-box (row-reverse, space-between, center);
        width: 100%;
        margin-top: 10px;
    }

    &__host {
        @include flex-box (row, row-reverse, none);
        align-items: center;

        p {
            @include text ($primary-color, 18px, 500, 143%);
            margin-right: 10px;
            width: 93px;
            text-align: right;
            @media screen and (max-width: $breakpoint-medium-tablet) {
                font-size: 12px;
            }
        }
        
        img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            object-fit: cover;
            @media screen and (max-width: $breakpoint-medium-tablet) {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__rating {
        @include flex-box (row, flex-end, flex-end);
        margin-top: 20px;
        width: 196px;
        height: 100%;
        @media screen and (max-width: $breakpoint-medium-tablet) {
            margin-top: 0;
            width: 98px;
            height: 18px;
        }
    }
}