.accommodation {
    @include flex-box (column, flex-start, center);
    max-width: 1240px;
    width: 100%;
}

.fiche {
    @include flex-box (column, flex-start, center);
    width: 100%;
    margin-top: 24px;

    &__section {
        width: 100%;
        max-width: 1240px;
        @include flex-box (row, space-between, none);

        &__top {
            width: 100%;
            max-width: 1240px;
            @include flex-box (row, space-between, none);
            background-color: grey;
        }
        
        &__bottom {
            width: 100%;
            max-width: 1240px;
            @include flex-box (row, space-between, flex-start);
            margin-top: 20px;
            background-color: blue;

            &__collapse {
                @include flex-box (row, space-between, center);
                max-width: 1240px;
                width: 47%,
            }
        }
    }
}

.titlesAndTags {
    @include flex-box (column, space-between, flex-start);
    //width: 100%;
            
    &__titles {

        h1 {
            @include text ($primary-color, 36px, 500, 143%);            
        }

        h2 {
            @include text ($primary-color, 18px, 500, 143%);
        }
    }

    &__tags {
        display: flex;
        margin-top: 10px;

        &__button {
            @include flex-box (column, center, center);
            text-align: center;
            background-color: $primary-color;
            color: white;
            @include text (white, 14px, 500, 143%);    
            white-space: nowrap;
            border-radius: 10px;
            height: 25px;
            width: 100%;
            padding: 2px 10px;
            margin-right: 20px;
        }
    }
}
               
.HostAndRating {
    @include flex-box (column, space-between, flex-end);

    &__host {
        @include flex-box (row, row-reverse, none);
        align-items: center;

        p {
            @include text ($primary-color, 18px, 500, 143%);
            margin-right: 10px;
            width: 93px;
            text-align: right;
        }
        
        img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            object-fit: cover;
        }
    }

    &__rating {
        @include flex-box (row, flex-end, flex-end);
        margin-top: 20px;
        width: 196px;
        height: 100%;
    }
}