@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .main-container {
    margin: 0 20px;
  }
}

.home {
  margin-top: 43px;
}
@media screen and (max-width: 769px) {
  .home {
    margin-top: 0;
  }
}
.home .banner {
  margin-bottom: 43px;
}
@media screen and (max-width: 769px) {
  .home .banner {
    margin-bottom: 22px;
    height: 111px;
  }
}

.accommodation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1240px;
  width: 100%;
}

.fiche {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}
.fiche__section {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
.fiche__section__top {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
@media screen and (max-width: 769px) {
  .fiche__section__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.fiche__section__bottom {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
@media screen and (max-width: 769px) {
  .fiche__section__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.fiche__section__bottom__collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 47%;
}
@media screen and (max-width: 769px) {
  .fiche__section__bottom__collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .fiche__section__bottom__collapse__description {
    margin-bottom: 20px;
  }
}

.titlesAndTags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.titlesAndTags__titles {
  margin-bottom: 10px;
}
.titlesAndTags__titles h1 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
}
@media screen and (max-width: 769px) {
  .titlesAndTags__titles h1 {
    font-size: 18px;
  }
}
.titlesAndTags__titles h2 {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
}
@media screen and (max-width: 769px) {
  .titlesAndTags__titles h2 {
    font-size: 14px;
  }
}
.titlesAndTags__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.titlesAndTags__tags__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  color: white;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  white-space: nowrap;
  border-radius: 10px;
  height: 25px;
  padding: 2px 15px;
}
@media screen and (max-width: 769px) {
  .titlesAndTags__tags__button {
    border-radius: 5px;
    height: 18px;
    font-size: 10px;
  }
}

.HostAndRating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 769px) {
  .HostAndRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
}
.HostAndRating__host {
  display: flex;
  flex-direction: row;
  justify-content: row-reverse;
  align-items: none;
  align-items: center;
}
.HostAndRating__host p {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  margin-right: 10px;
  width: 93px;
  text-align: right;
}
@media screen and (max-width: 769px) {
  .HostAndRating__host p {
    font-size: 12px;
  }
}
.HostAndRating__host img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 769px) {
  .HostAndRating__host img {
    width: 32px;
    height: 32px;
  }
}
.HostAndRating__rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  width: 196px;
  height: 100%;
}
@media screen and (max-width: 769px) {
  .HostAndRating__rating {
    margin-top: 0;
    width: 98px;
    height: 18px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about__collapses {
  width: 100%;
  height: auto;
}
.about__collapses__collapse {
  padding-top: 30px;
}
@media screen and (max-width: 769px) {
  .about__collapses__collapse {
    padding-top: 20px;
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.notFound__title {
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 11%;
  margin-bottom: 4.5%;
}
@media (max-width: 520px) {
  .notFound__title {
    font-size: 96px;
    margin-top: 54%;
    margin-bottom: 4%;
  }
}
.notFound__subtitle {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14.5%;
}
@media (max-width: 520px) {
  .notFound__subtitle {
    font-size: 18px;
    margin-bottom: 40%;
  }
}
.notFound__link {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-decoration: none;
}
@media (max-width: 520px) {
  .notFound__link {
    font-size: 14px;
  }
}
.notFound__link:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: white;
  margin: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 769px) {
  .header {
    height: 47px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
}
.header__logo {
  width: 210.32px;
  height: 68px;
}
@media screen and (max-width: 769px) {
  .header__logo {
    width: 145px;
    height: 47px;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 309px;
  height: 34px;
}
@media screen and (max-width: 769px) {
  .header__nav {
    width: 140px;
    height: 17px;
  }
}
.header__nav__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  text-decoration: none;
}
@media screen and (max-width: 769px) {
  .header__nav__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
  }
}
.header__nav__link:hover, .header__nav__link:focus {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 209px;
  margin-top: 43px;
  background-color: black;
  color: white;
}
@media screen and (max-width: 769px) {
  .footer {
    margin-top: 22px;
  }
}
.footer__logo {
  width: 122px;
  height: 39.44px;
  margin-top: 66px;
}
@media screen and (max-width: 520px) {
  .footer__logo {
    margin-top: 62px;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 29px;
  width: 513px;
  height: 46px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
}
@media screen and (max-width: 520px) {
  .footer__text {
    font-size: 12px;
    margin-bottom: 62px;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 223px;
}
.banner__image {
  width: inherit;
  height: inherit;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  background-color: #f6f6f6;
  filter: brightness(70%);
}
@media screen and (max-width: 769px) {
  .banner__image {
    border-radius: 10px;
  }
}
.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
}
@media (max-width: 769px) {
  .banner__text {
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    text-align: left;
    margin-left: 16px;
    width: 217px;
    height: auto;
    font-size: 24px;
    line-height: 100%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
  padding: 56px 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    padding: 33px 30px;
  }
}
@media screen and (max-width: 769px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    padding: 0 0;
    background: none;
    border-radius: 10px;
  }
}

.card {
  position: relative;
  height: 340px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  .card {
    height: 255px;
    max-width: 100%;
  }
}
.card__img {
  width: inherit;
  max-width: inherit;
  height: inherit;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img--shadow {
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  border-radius: inherit;
}
.card__title {
  position: absolute;
  bottom: 20px;
  margin: 0 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  box-sizing: inherit;
}
.card:hover {
  scale: 1.02;
  transition: scale 500ms ease-out;
}

.collapse {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.collapse__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
  border-style: none;
  background-color: #ff6060;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}
@media screen and (max-width: 769px) {
  .collapse__title {
    height: 29.93px;
    font-size: 13px;
    border-radius: 5px;
    padding: 0 5.5px 0 11.5px;
  }
}
.collapse__button {
  cursor: pointer;
}
.collapse__texte {
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0%;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 100%;
  padding: 16px;
}
@media screen and (max-width: 769px) {
  .collapse__texte {
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
  }
}
.collapse__texte ul {
  list-style-type: none;
}

.slideShow {
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 415px;
}
@media screen and (max-width: 769px) {
  .slideShow {
    height: 255px;
  }
}
.slideShow__image {
  position: absolute;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 769px) {
  .slideShow__image {
    border-radius: 10px;
  }
}
.slideShow__arrow {
  position: absolute;
  z-index: 1;
  opacity: 87%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 769px) {
  .slideShow__arrow {
    height: 19.8px;
    width: auto;
  }
}
.slideShow__arrow__left {
  left: 2%;
}
.slideShow__arrow__right {
  right: 2%;
}
.slideShow__numbers {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  left: 50%;
  bottom: 5.5%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0%;
}
@media screen and (max-width: 769px) {
  .slideShow__numbers {
    display: none;
  }
}

.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

@media screen and (max-width: 769px) {
  .star {
    height: 13px;
  }
}/*# sourceMappingURL=styles.css.map */